@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Nunito:wght@200&family=Raleway&family=Urbanist:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Dancing+Script&family=Martian+Mono:wght@200&display=swap");
* {
  line-height: 1.7;
}
body {
  font-family: "Raleway", sans-serif;
  padding: 0px;
  font-weight: 600;
  margin: 20px;
}

.points {
  font-size: 12px;
  padding: 6px;
}

.bold {
  font-size: 20px;
}

@media (max-width: 768px) {
  .bold {
    font-size: 30px;
  }
  .points {
    font-size: 12px;
    padding: 6px;
  }
}

@media (max-width: 576px) {
  .bold {
    font-size: 12px;
  }
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav-bar {
  display: flex;
  list-style-type: none;
  flex-direction: row;
}

.nav-bar li {
  padding: 10px;
}
.heading {
  color: rgb(219, 161, 73);
}
